  <div class="row">
    <div class="col-12">
      <h2>投稿一覧</h2>

      <% if admin_signed_in? %>
        <%= link_to '新しい順', admin_customer_path(customer, latest: "true") %>
        |<%= link_to '古い順', admin_customer_path(customer, old: "true") %>
        |<%= link_to 'コース難易度評価の高い順', admin_customer_path(customer, difficulty: "true") %>
        |<%= link_to 'コース難易度評価の低い順', admin_customer_path(customer, ease: "true") %>
      <% elsif customer_signed_in? %>
        <%= link_to '新しい順', customer_path(customer, latest: "true") %>
        |<%= link_to '古い順', customer_path(customer, old: "true") %>
        |<%= link_to 'コース難易度評価の高い順', customer_path(customer, difficulty: "true") %>
        |<%= link_to 'コース難易度評価の低い順', customer_path(customer, ease: "true") %>
      <% end %>

      <div class="table-responsive">

        <table class="table table-bordered text-center">
          
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>コース名</th>
              <th class="w-15">住所</th>
              <th>ラウンド日</th>
              <th>ゴルフスコア</th>
              <th class="w-15">感想</th>
              <th>コース難易度評価</th>
              <th>コメント数</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% posts.each do |post| %>
            <tr>
              <td class="align-middle"><%= image_tag post.course.get_course_image, size:'100x100' %></td>

              <% if admin_signed_in? %>
                <td class="align-middle"><%= link_to post.course.name, admin_course_path(post.course) %></td>
              <% elsif customer_signed_in? %>
                <td class="align-middle"><%= link_to post.course.name, course_path(post.course) %></td>
              <% end %>

              <td class="align-middle"><%= post.course.prefecture.name %> <%= post.course.address %></td>
              <td class="align-middle"><%= post.round_day %></td>
              <td class="align-middle"><%= post.golf_score %></td>
              <td class="align-middle"><%= post.sentence %></td>
              <td class="align-middle">
                <div class="score-display" 
                  data-score="<%= post.score %>"
                  data-star-on="<%= asset_path('star-on.png') %>"
                  data-star-off="<%= asset_path('star-off.png') %>">
                </div>
              </td>
              <td class="align-middle"><%= post.post_comments.count %></td>

              <% if admin_signed_in? %>
                <td class="align-middle"><%= link_to '詳細', admin_course_post_path(post.course, post), class: "btn btn-success" %></td>
              <% elsif customer_signed_in? %>
                <td class="align-middle"><%= link_to '詳細', course_post_path(post.course, post), class: "btn btn-success" %></td>
              <% end %>

            </tr>
            <% end %>
          </tbody>

        </table>
        
      </div>
      
      <div class="d-flex justify-content-center">
        <%= paginate posts %>
      </div>
      
    </div>
  </div>