  <h1>ゴルフコース</h1>

  <div class="row mb-4">
    <div class="col-12">
      <h2>詳細</h2>
      
      <div class="table-responsive">
        
        <table class="table table-bordered text-center">
          
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>コース名</th>
              <th>住所</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle"><%= image_tag @course.get_course_image, size:'200x200' %></td>
              <td class="align-middle"><%= @course.name %></td>
              <td class="align-middle"><%= @course.prefecture.name %> <%= @course.address %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <h2>投稿フォーム</h2>

      <%= render 'layouts/errors', obj: @post %>

      <%= form_with model: [@course, @post], method: :post, local: true do |f| %>
        
        <div class="form-group">
          <%= f.label :round_day, "ラウンド日" %>
          <%= f.date_field :round_day, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :score, "ゴルフスコア" %>
          <%= f.text_field :score, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :sentence, "感想" %>
          <%= f.text_field :sentence, class: "form-control" %>
          </div>
        
        <div class="form-group">
          <%= f.submit '投稿', class: 'btn btn-success' %>
        </div>
        
      <% end %>
    </div>
  </div>

  <%= render 'posts', posts: @posts %>