<div class="table-responsive">
  
  <h5 class="mb-2">コース情報</h5>
  <table class="table table-bordered table-sm text-center">
    <thead class="thead-light">
      <tr>
        <th>コース画像</th>
        <th class="w-15">コース名</th>
        <th class="w-15">住所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle" style="width: 100px;"><%= image_tag post.course.get_course_image, size:'200x200' %></td>
        
        <% if admin_signed_in? %>
          <td class="align-middle"><%= link_to post.course.name, admin_course_path(post.course) %></td>
        <% elsif customer_signed_in? %>
          <td class="align-middle"><%= link_to post.course.name, course_path(post.course) %></td>
        <% end %>

        <td class="align-middle"><%= post.course.prefecture.name %> <%= post.course.address %></td>
      </tr>
    </tbody>
  </table>

  <h5 class="mt-4 mb-2">ゴルファー情報</h5>
  <table class="table table-bordered table-sm text-center">
    <thead class="thead-light">
      <tr>
        <th>ゴルファー名</th>
        <th>出身地</th>
        <th>ゴルフ歴（年）</th>
        <th>平均スコア（過去10R）</th>
        <th>ラウンド日</th>
        <th>スコア</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if admin_signed_in? %>
          <td class="align-middle"><%= link_to post.customer.name, admin_customer_path(post.customer) %></td>
        <% elsif customer_signed_in? %>
          <td class="align-middle"><%= link_to post.customer.name, customer_path(post.customer) %></td>
        <% end %>

        <td class="align-middle"><%= post.customer.prefecture.name %></td>
        <td class="align-middle"><%= post.customer.history %></td>
        <td class="align-middle"><%= post.customer.average_last_10_golf_score.round(1) %></td>
        <td class="align-middle"><%= post.round_day %></td>
        <td class="align-middle"><%= post.golf_score %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-sm text-center">
    <thead class="thead-light">
      <tr>
        <th class="w-15">感想</th>
        <th>コース難易度評価</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="align-middle"><%= post.sentence %></td>
        <td class="align-middle" style="width: 150px;">
          <div class="score-display" 
            data-score="<%= post.score %>"
            data-star-on="<%= asset_path('star-on.png') %>"
            data-star-off="<%= asset_path('star-off.png') %>">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>

<% if admin_signed_in? %>
  <%= link_to '編集', edit_admin_course_post_path(post.course, @post), class: "btn btn-sm btn-success" %>
  <%= link_to '削除', admin_course_post_path(post.course, post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
<% elsif customer_signed_in? && post.customer == current_customer %>
  <%= link_to '編集', edit_course_post_path(post.course, @post), class: "btn btn-sm btn-success" %>
  <%= link_to '削除', course_post_path(post.course, post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
<% end %>