  <h1>会員</h1>

  <div class="row mb-4">
    <div class="col-12">
      <h2>詳細</h2>

      <%= render 'public/customers/show', customer: @customer %>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>投稿一覧</h2>

        <div class="mb-3">
          <%= form_with url: admin_customer_path(@customer), method: :get, local: true do |f| %>
            <%= f.label :prefecture_id, "都道府県で絞り込む", class: "form-label" %>
            <%= f.select :prefecture_id, 
                          @prefectures.map { |p| [p.name, p.id] },
                          { include_blank: '全て表示' },
                          {
                          class: 'form-select d-inline-block w-auto me-2',
                          onchange: 'this.form.submit();',
                          selected: params[:prefecture_id] 
                          }
            %>
          <% end %>
      
          <% if params[:prefecture_id].present? %>
            <% selected_prefecture = @prefectures.find { |p| p.id.to_s == params[:prefecture_id] } %>
            <span class="badge bg-primary">
              <%= selected_prefecture.name %> のコースを表示中
              <%= link_to '×', admin_customer_path(@customer), class: 'text-white text-decoration-none ms-1' %>
            </span>
          <% end %>
        </div>

        <div class="mb-3">
          <% filter_params = params.permit(:prefecture_id) %>

          <%= link_to '新しい順', admin_customer_path(@customer, filter_params.merge(latest: "true")) %>
          |<%= link_to '古い順', admin_customer_path(@customer, filter_params.merge(old: "true")) %>
          |<%= link_to 'コース難易度評価の高い順', admin_customer_path(@customer, filter_params.merge(difficulty: "true")) %>
          |<%= link_to 'コース難易度評価の低い順', admin_customer_path(@customer, filter_params.merge(ease: "true")) %>
          
        </div>

        <%= render 'public/customers/posts', posts: @posts %>

    </div>
  </div>