  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h2>会員登録</h2>

      <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name, "ゴルファー名" %>
          <%= f.text_field :name, placeholder: "ヤマダ", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :prefecture_id, "都道府県" %>
          <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
        </div>

        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :history, "ゴルフ歴（年）" %>
          <%= f.text_field :history, placeholder: "5", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "パスワード（6文字以上）" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード（確認用）" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "登録", class: "btn btn-success btn-block" %>
        </div>

        <div class="form-group text-center">
          <%= render "public/shared/links" %>
        </div>
        
      <% end %>
      
    </div>
  </div>