<div class="table-responsive">
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>都道府県名</th>
        <th>緯度</th>
        <th>経度</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% prefectures.each do |prefecture| %>
        <tr>
          <td class="align-middle"><%= image_tag prefecture.get_prefecture_image, size:'100x100' %></td>
          <td class="align-middle"><%= prefecture.name %></td>
          <td class="align-middle"><%= prefecture.latitude %></td>
          <td class="align-middle"><%= prefecture.longitude %></td>
          <td class="align-middle"><%= link_to 'Edit', edit_admin_prefecture_path(prefecture), class: "btn btn-success" %></td>
          <td class="align-middle"><%= link_to 'Destroy', admin_prefecture_path(prefecture), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>