  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2>ログイン</h2>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
        
        <div class="form-group">
          <%= f.label :name, "ゴルファー名" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        
        <% if devise_mapping.rememberable? %>
          <div class="form-group form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
        </div>

        <div class="form-group text-center">
          <%= render "public/shared/links" %>
        </div>
        
      <% end %>
      
    </div>
  </div>