<div class="table-responsive">

  <table class="table table-bordered text-center">
  
    <thead class="thead-light">
      <tr>
        <th></th>
        <th>コース名</th>
        <th>住所</th>
        <th>投稿数</th>

        <% if admin_signed_in? %>
        <th>緯度</th>
        <th>経度</th>
        <th>ステータス</th>
        <% end %>
        
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% courses.each do |course| %>
        <tr>
          <td class="align-middle"><%= image_tag course.get_course_image, size:'100x100' %></td>
          <td class="align-middle"><%= course.name %></td>
          <td class="align-middle"><%= course.prefecture.name %> <%= course.address %></td>
          <td class="align-middle"><%= course.posts.count %></td>

          <% if admin_signed_in? %>
            <td class="align-middle"><%= course.latitude %></td>
            <td class="align-middle"><%= course.longitude %></td>
            <td class="align-middle"><%= course.course_state %></td>
            <td class="align-middle"><%= link_to '詳細', admin_course_path(course), class: "btn btn-success" %></td>
          <% elsif customer_signed_in? %>
            <td class="align-middle"><%= link_to '詳細', course_path(course), class: "btn btn-success" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>