  <h1>ゴルフコース</h1>

  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h1>ゴルフコース</h1>
      <h2>修正フォーム</h2>

      <%= render 'layouts/errors', obj: @course %>
      
      <%= form_with model: @course, url: admin_course_path(@course), method: :PATCH, local: true do |f| %>
        
        <div class="form-group">
          <%= f.label :name, "コース名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :course_image, "画像" %>
          <%= f.file_field :course_image, accept: 'image/*', class: "form-control-file" %>
        </div>
        
        <div class="form-group">
          <%= f.label :prefecture_id, "都道府県" %>
          <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
        </div>
        
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :latitude, "緯度" %>
          <%= f.text_field :latitude, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :longitude, "経度" %>
          <%= f.text_field :longitude, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :is_active, "ステータス" %>
          <div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, true, class: "form-check-input" %>
              <%= f.label :is_active_true, "有効", class: "form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, false, class: "form-check-input" %>
              <%= f.label :is_active_false, "退会", class: "form-check-label" %>
            </div>
          </div>
        </div>
        
        <div class="form-group d-flex">
          <%= f.submit '更新', class: 'btn btn-success mr-3' %>
          <%= link_to '戻る', admin_course_path(@course), class: "btn btn-secondary" %>
        </div>
        
      <% end %>
      
    </div>
  </div>