  <div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <h2>ゴルフコース登録</h2>

      <%= render 'layouts/errors', obj: @course %>

      <%= form_with model: @course, url: admin_courses_path, method: :post, local: true do |f| %>
        
        <div class="form-group">
          <%= f.label :name, "コース名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :course_image, "画像" %>
          <%= f.file_field :course_image, accept: 'image/*', class: "form-control-file" %>
        </div>
        
        <div class="form-group">
          <%= f.label :prefecture_id, "都道府県" %>
          <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
        </div>
        
        <div class="form-group">
          <%= f.label :address, "住所" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :latitude, "緯度" %>
          <%= f.text_field :latitude, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :longitude, "経度" %>
          <%= f.text_field :longitude, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :is_active, "ステータス" %>
          <div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, true, class: "form-check-input" %>
              <%= f.label :is_active_true, "有効", class: "form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_active, false, class: "form-check-input" %>
              <%= f.label :is_active_false, "退会", class: "form-check-label" %>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.submit '登録', class: 'btn btn-success' %>
        </div>
        
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>ゴルフコース一覧</h2>
      
      <div class="mb-3">
        <%= form_with url: admin_courses_path, method: :get, local: true do |f| %>
          <%= f.label :prefecture_id, "都道府県で絞り込む", class: "form-label" %>
          <%= f.select :prefecture_id, 
                        @prefectures.map { |p| [p.name, p.id] },
                        { include_blank: '全て表示' },
                        {
                        class: 'form-select d-inline-block w-auto me-2',
                        onchange: 'this.form.submit();',
                        selected: params[:prefecture_id] 
                        }
            %>
        <% end %>
      
        <% if params[:prefecture_id].present? %>
          <% selected_prefecture = @prefectures.find { |p| p.id.to_s == params[:prefecture_id] } %>
          <span class="badge bg-primary">
            <%= selected_prefecture.name %> のコースを表示中
            <%= link_to '×', admin_courses_path, class: 'text-white text-decoration-none ms-1' %>
          </span>
        <% end %>
      </div>

      <%= render 'admin/courses/index', courses: @courses %>
      
    </div>
  </div>