  <div class="row">
    <div class="col-12">
      <h2>ゴルフコース詳細</h2>
      
      <div class="table-responsive">
        
        <table class="table table-bordered text-center">
          
          <thead class="thead-light">
            <tr>
              <th>コース画像</th>
              <th>コース名</th>
              <th>住所</th>
              <th>緯度</th>
              <th>経度</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle"><%= image_tag @course.get_course_image, size:'200x200' %></td>
              <td class="align-middle"><%= @course.name %></td>
              <td class="align-middle"><%= @course.prefecture.name %> <%= @course.address %></td>
              <td class="align-middle"><%= @course.latitude %></td>
              <td class="align-middle"><%= @course.longitude %></td>
              <td class="align-middle"><%= @course.course_state %></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <%= link_to '編集', edit_admin_course_path(@course), class: "btn btn-success" %>
      
    </div>
  </div>

  <br>
  
  <div class="row">
    <div class="col-12">
      <h2>投稿一覧</h2>

      <% if @posts.any? %>

        <%= link_to '新しい順', admin_course_path(@course, latest: "true") %>
        |<%= link_to '古い順', admin_course_path(@course, old: "true") %>
        |<%= link_to 'コース難易度評価の高い順', admin_course_path(@course, difficulty: "true") %>
        |<%= link_to 'コース難易度評価の低い順', admin_course_path(@course, ease: "true") %>

        <%= render 'public/courses/posts', posts: @posts %>

      <% else %>
        <a>投稿はありません</a>
      <% end %>

    </div>
  </div>