<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag('golf_green.png', size: '60x60') %>ジョイゴル</a>

        <%= render "public/searches/search" %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item text-nowrap">
                <%= link_to "About", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "ゴルフコース一覧", admin_courses_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "投稿一覧", admin_root_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "都道府県一覧", admin_prefectures_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item text-nowrap">
                <%= link_to "About", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "マイページ", customer_path(current_customer), class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "ゴルフコース一覧", courses_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "投稿一覧", top_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item text-nowrap">
                <%= link_to "About", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "会員登録", new_customer_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item text-nowrap">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
  </nav>
</header>