<!DOCTYPE html>
<html>
  <head>
    <title>ジョイゴル</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/42f752a42f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render "layouts/header" %>

    <main class="mb-auto">
      <div class="container">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>